@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
  --x-gray-50: #FAFAFA;
  --x-gray-100: #F5F9FC;
  --x-gray-200: #E7EAF0;
  --x-gray-300: #CFD6DF;
  --x-gray-400: #ABB6C5;
  --x-gray-500: #8898A9;
  --x-gray-600: #6B7B93;
  --x-gray-700: #525F7F;
  --x-gray-800: #2D3748;
  --x-gray-900: #16192C;
  --x-blue-100: #ccebff;
  --x-blue-200: #99d6ff;
  --x-blue-300: #66c2ff;
  --x-blue-400: #33adff;
  --x-blue-500: #0099FF;
  --x-blue-600: #007acc;
  --x-blue-700: #005c99;
  --x-blue-800: #003d66;
  --x-blue-900: #001f33;
  --x-indigo-100: #dedffd;
  --x-indigo-200: #bebffb;
  --x-indigo-300: #9da0f9;
  --x-indigo-400: #7d80f7;
  --x-indigo-500: #5C60F5;
  --x-indigo-600: #4a4dc4;
  --x-indigo-700: #373a93;
  --x-indigo-800: #252662;
  --x-indigo-900: #121331;
  --x-purple-100: #e7ddff;
  --x-purple-200: #d0bcff;
  --x-purple-300: #b89aff;
  --x-purple-400: #a179ff;
  --x-purple-500: #8957FF;
  --x-purple-600: #6e46cc;
  --x-purple-700: #523499;
  --x-purple-800: #372366;
  --x-purple-900: #1b1133;
  --x-pink-100: #ffddeb;
  --x-pink-200: #ffbcd7;
  --x-pink-300: #ff9ac2;
  --x-pink-400: #ff79ae;
  --x-pink-500: #FF579A;
  --x-pink-600: #cc467b;
  --x-pink-700: #99345c;
  --x-pink-800: #66233e;
  --x-pink-900: #33111f;
  --x-magenta-100: #fcd6ff;
  --x-magenta-200: #f8adff;
  --x-magenta-300: #f585ff;
  --x-magenta-400: #f15cff;
  --x-magenta-500: #EE33FF;
  --x-magenta-600: #be29cc;
  --x-magenta-700: #8f1f99;
  --x-magenta-800: #5f1466;
  --x-magenta-900: #300a33;
  --x-red-100: #ffd6e0;
  --x-red-200: #ffadc2;
  --x-red-300: #ff85a3;
  --x-red-400: #ff5c85;
  --x-red-500: #FF3366;
  --x-red-600: #cc2952;
  --x-red-700: #991f3d;
  --x-red-800: #661429;
  --x-red-900: #330a14;
  --x-orange-100: #ffe8cc;
  --x-orange-200: #ffd199;
  --x-orange-300: #ffba66;
  --x-orange-400: #ffa333;
  --x-orange-500: #FF8C00;
  --x-orange-600: #cc7000;
  --x-orange-700: #995400;
  --x-orange-800: #663800;
  --x-orange-900: #331c00;
  --x-yellow-100: #fff1cc;
  --x-yellow-200: #ffe499;
  --x-yellow-300: #ffd666;
  --x-yellow-400: #ffc933;
  --x-yellow-500: #FFBB00;
  --x-yellow-600: #cc9600;
  --x-yellow-700: #997000;
  --x-yellow-800: #664b00;
  --x-yellow-900: #332500;
  --x-green-100: #ccf5e7;
  --x-green-200: #99ebcf;
  --x-green-300: #66e0b8;
  --x-green-400: #33d6a0;
  --x-green-500: #00CC88;
  --x-green-600: #00a36d;
  --x-green-700: #007a52;
  --x-green-800: #005236;
  --x-green-900: #00291b;
  --x-teal-100: #d3f8f8;
  --x-teal-200: #a7f1f1;
  --x-teal-300: #7aebeb;
  --x-teal-400: #4ee4e4;
  --x-teal-500: #22DDDD;
  --x-teal-600: #1bb1b1;
  --x-teal-700: #148585;
  --x-teal-800: #0e5858;
  --x-teal-900: #072c2c;
  --x-cyan-100: #ccf6ff;
  --x-cyan-200: #99eeff;
  --x-cyan-300: #66e5ff;
  --x-cyan-400: #33ddff;
  --x-cyan-500: #00D4FF;
  --x-cyan-600: #00aacc;
  --x-cyan-700: #007f99;
  --x-cyan-800: #005566;
  --x-cyan-900: #002a33;
  --x-primary: #5C60F5;
  --x-shade-primary: #5356dd;
  --x-tint-primary: #6c70f6;
  --x-secondary: #CFD6DF;
  --x-shade-secondary: #bac1c9;
  --x-tint-secondary: #d4dae2;
  --x-tertiary: #FF579A;
  --x-shade-tertiary: #e64e8b;
  --x-tint-tertiary: #ff68a4;
  --x-success: #00CC88;
  --x-shade-success: #00b87a;
  --x-tint-success: #1ad194;
  --x-info: #00D4FF;
  --x-shade-info: #00bfe6;
  --x-tint-info: #1ad8ff;
  --x-warning: #FF8C00;
  --x-shade-warning: #e67e00;
  --x-tint-warning: #ff981a;
  --x-danger: #FF3366;
  --x-shade-danger: #e62e5c;
  --x-tint-danger: #ff4775;
  --x-white: #FFF;
  --x-shade-white: #e6e6e6;
  --x-tint-white: white;
  --x-light: #E7EAF0;
  --x-shade-light: #d0d3d8;
  --x-tint-light: #e9ecf2;
  --x-dark: #16192C;
  --x-shade-dark: #141728;
  --x-tint-dark: #2d3041;
  --x-primary-rgb: 92, 96, 245;
  --x-secondary-rgb: 207, 214, 223;
  --x-tertiary-rgb: 255, 87, 154;
  --x-success-rgb: 0, 204, 136;
  --x-info-rgb: 0, 212, 255;
  --x-warning-rgb: 255, 140, 0;
  --x-danger-rgb: 255, 51, 102;
  --x-white-rgb: 255, 255, 255;
  --x-light-rgb: 231, 234, 240;
  --x-dark-rgb: 22, 25, 44;
  --x-surface-primary: #FFF;
  --x-surface-secondary: #F5F9FC;
  --x-surface-tertiary: #FAFAFA;
  --x-surface-light: #E7EAF0;
  --x-surface-dark: #141729;
  --x-white-rgb: 255, 255, 255;
  --x-black-rgb: 0, 0, 0;
  --x-muted-rgb: 107, 123, 147;
  --x-body-rgb: 82, 95, 127;
  --x-heading-rgb: 22, 25, 44;
  --x-card-rgb: 255, 255, 255;
  --x-font-sans-serif: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --x-font-monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --x-font-display: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --x-font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --x-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --x-body-font-family: var(--x-font-sans-serif);
  --x-body-font-size: 1rem;
  --x-body-font-weight: 400;
  --x-body-line-height: 1.625;
  --x-body-color: #525F7F;
  --x-body-bg: #FFF;
}

.fixed-container {
  height: 100vh;
}

.box-container {
  box-shadow: 0px 0px 20px 14px #764ABC40;

}

.text-purple {
  color: #966aff !important;
}

.btn-auth {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #8F00FF;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  width: 100%;
}

.btn-auth:hover {
  background: #8F00FF !important;
  color: #fff;
  border-radius: 100px !important;
  box-shadow: 0 0 25px #764ABC40, 0 0 50px #764ABC40, 0 0 75px #764ABC40, 0 0 100px #764ABC40;
}

.btn-auth span {
  position: absolute;
  display: block;
}

.btn-auth span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #8F00FF);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.btn-auth span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #8F00FF);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.btn-auth span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #8F00FF);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.btn-auth span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #8F00FF);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.create-user {
  direction:rtl;
}

.link {
  color: white;
  text-decoration: none;
  font-size: small;
}

.bg-surface-secondary {
  background-color: #f5f9fc !important;
}

.fixed-hight {
  height: 100vh;
}

.bottom-ul {
  position: relative;
  top: 140px;
}

/* .hoverable-text:hover {
  color: #966aff !important;
} */

.hoverable:hover {
  background: #f5f9fc;
  color: #966aff !important;
}
/* .small-dash {
  background: #8f00ff;
  height: 6px;
  width: 7px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
} */


.card-shadow {
  box-shadow: 0px 3px 3px -1px rgba(10,22,70,.1), 0px 0px 1px 0px rgba(10,22,70,.06) !important;
}

.icon-shape {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.375rem;
  width: 3rem;
  height: 3rem;
}


.icon {
  font-size: 1.7142857143rem;
  line-height: 1;
}


.bg-tertiary {
  --x-bg-opacity: 1;
  background-color: rgba(var(--x-tertiary-rgb), var(--x-bg-opacity)) !important;
}

.bg-primary {
  --x-bg-opacity: 1;
  background-color: rgba(var(--x-primary-rgb), var(--x-bg-opacity)) !important;
}

.bg-info {
  --x-bg-opacity: 1;
  background-color: rgba(var(--x-info-rgb), var(--x-bg-opacity)) !important;
}

.bg-warning {
  --x-bg-opacity: 1;
  background-color: rgba(var(--x-warning-rgb), var(--x-bg-opacity)) !important;
}

.text-white {
  --x-text-opacity: 1;
  color: rgba(var(--x-white-rgb), var(--x-text-opacity)) !important;
}


.bg-soft-success {
  background-color: #ccf5e7 !important;
}

.bg-soft-danger {
  background-color: #ffd6e0 !important;
}

.btn-neutral {
  color: #16192c;
  background-color: #fff;
  border-color: #e7eaf0;
}

.btn-primary {
  color: #fff;
  background-color: #5c60f5;
  border-color: #5c60f5;
}

.text-xs {
  font-size: 0.75rem !important;
}

h3, .h3 {
  font-size: 1.375rem;
}

.text-lg {
  font-size: 1.25rem !important;
}

.min-nav-collection {
  color: #5c60f5;
  border-bottom:#5c60f5 solid 1px
}

.bg-single-product {
  background-color: #f5f5f6!important;
}